<h2>Profiles</h2>

Here should be a list of profiles

<ul>
    <li *ngFor="let profile of profiles">
        <span>{{profile.id}}</span><br>
        <span>{{profile.email}}</span><br>
        <span>{{profile.firstName}}</span><br>
        <span>{{profile.middleName}}</span><br>
        <span>{{profile.dob}}</span><br>
        <span>{{profile.phone}}</span><br>
        <span>{{profile.gender}}</span><br>
        <span>{{profile.weight}}</span><br>
        <span>{{profile.onPrescriptionMeds}}</span><br>
        <span>{{profile.vegetarian}}</span><br>
        <span>{{profile.avgOunceMeatDay}}</span><br>
        <span>{{profile.avgSexWeek}}</span><br>
        <span>{{profile.avgHoursSweatWeek}}</span><br>
        <span>{{profile.avgOuncePotThcWeek}}</span><br>
        <span>{{profile.preferSalivas}}</span><br>
        <span>{{profile.children}}</span><br>
        <span>{{profile.geneticItems}}</span><br>
        <span>{{profile.hotColdNormal}}</span><br>
        <span>{{profile.useNicotine}}</span><br>
        <span>{{profile.amountNicotineDay}}</span><br>
        <span>{{profile.hadMenopause}}</span><br>
        <span>{{profile.ageRange}}</span><br>
        <span>{{profile.sleep}}</span><br>
        <span>{{profile.caffeineDrinks}}</span><br>
        <span>{{profile.caffeineDrinks}}</span><br>
        <span>{{profile.bowelMovement}}</span><br>
        <span>{{profile.activityLevel}}</span><br>
        <span>{{profile.bodyfat}}</span><br>

    </li>


</ul>
